@import '../../../../var.global';

.main {
  padding: 50px 0;
  background-color: #e5e5e5;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1400px;
}

@media all and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

@media all and (max-width: 500px) {
  .main {
    padding: 20px 0;
  }
}
