// colors
$color-black: #000;
$color-white: #fff;
$color-primary: #116ACC;
$color-secondary: #182233;
$color-green: #76CA66;
$color-red: #FD4E5D;
$color-grey: #6B7280;
$color-grey-shade: #374151;
$color-grey-light: #9CA3AF;
$color-blue: #A0C3FF;

// fonts
$ubuntu: Ubuntu, Arial, Helvetica, sans-serif;
$worksans: WorkSans, Arial, Helvetica, sans-serif;
$roboto: Roboto, Arial, Helvetica, sans-serif;
