@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './var.global';

body {
  padding: 0;
  margin: 0;
  background-color: $greyE5;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-active {
  position: fixed;
  /* top: -50%; */
  left: 0;
  right: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
