$primary-color: #333;
$secondary-color: #9873FF;
$red: #F06A4D;
$greyB4: #b4b4b4;
$greyB0: #b0b0b0;
$greyE5: #e5e5e5;
$white: #fff;

$grid-table: minmax(110px, 130px) minmax(248px, 600px) minmax(250px, 400px) minmax(80px, 170px);
