@import '../../styles/mixin', '../../styles/var';

.main {
  @include main;
}

.hero {
  flex-grow: 1;
  background: rgb(91,91,91);
  background: linear-gradient(180deg, rgba(91,91,91,0) 0%, rgba(240,244,255,1) 100%);
}
