.filmList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 460px));
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filmItem {
  max-width: 100%;
  cursor: pointer;
}

.filmItem:nth-child(3n) {
  margin: 0;
}
