$fontsRoboto: (medium: 500);
$fontWeightWorksans: (light: 300, regular: 400, medium: 500, semibold: 600, bold: 700);
$fontWeightUbuntu: (regular: 400, medium: 500);

@each $weightName, $weight in $fontsRoboto {
  @font-face {
    font-family: Roboto;
    font-display: swap;
    src: url('../assets/fonts/Roboto-#{$weightName}.woff2') format("woff2"),
      url('../assets/fonts/Roboto-#{$weightName}.woff') format("woff");
    font-weight: $weight;
    font-style: normal
  }
}
@each $weightName, $weight in $fontWeightWorksans {
  @font-face {
    font-family: WorkSans;
    font-display: swap;
    src: url('../assets/fonts/Worksans-#{$weightName}.woff2') format("woff2"),
      url('../assets/fonts/Worksans-#{$weightName}.woff') format("woff");
    font-weight: $weight;
    font-style: normal
  }
}
@each $weightName, $weight in $fontWeightUbuntu {
  @font-face {
    font-family: Ubuntu;
    font-display: swap;
    src: url('../assets/fonts/ubuntu-#{$weightName}.woff2') format("woff2"),
      url('../assets/fonts/ubuntu-#{$weightName}.woff') format("woff");
    font-weight: $weight;
    font-style: normal
  }
}
