@import './mixin.scss', './var.scss';

.header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  min-height: 80px;
  background-color: $white;
}

.title {
  margin: 0;
  margin-right: 160px;
  font-size: 36px;
  line-height: 1;
  color: $primary-color;
}

.inputSearch {
  margin-right: auto;
  padding: 8px 10px;
  min-width: 500px;
  font-size: 18px;
  border: 1px solid $greyB0;
}

.btnLogout {
  font-size: 20px;
  @include btnLinkHover;
}

@media all and (max-width: 1024px) {
  .header {
    padding: 20px 30px;
  }

  .title {
    margin-right: 20px;
  }

  .inputSearch {
    padding: 5px;
    min-width: 300px;
    font-size: 16px;
  }
}

@media all and (max-width: 960px) {
  .header {
    padding: 20px 10px;
  }
}

@media all and (max-width: 640px) {
  .header {
    flex-wrap: wrap;
    padding: 20px 10px;
  }
  .title {
    margin-right: auto;
  }
  .inputSearch {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    order: 3;
  }
}

