@import '_var.scss', '_mixin.scss';

.catalog-grid {
  display: grid;
  grid-template-columns: 296px minmax(0,952px);
  column-gap: 32px;
  padding-bottom: 134px;
}

.catalog-block {
  height: 1324px;
}

.section-catalog {
  position: relative;
  height: 100%;

  &__box {
    display: flex;
    margin-bottom: 20px;
    padding-top: 4px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 17px;
    font-size: 24px;
  }

  &__swiper-wrapper {
    height: 100%;
  }

  &__swiper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__slide {
    height: calc((100% - 64px) / 3) !important;
    display: flex;
    flex-direction: column;
  }

  &__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    bottom: -64px;
    left: calc(50% - 48px);
  }

  &__swiper-pagination .swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    @include fontClass(16px, 1, 600);
    text-align: center;
    color: $color-primary-shade;
    opacity: 1;
    background-color: transparent;
    border: 2px solid $color-primary-shade;
    border-radius: 10px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  }

  &__swiper-pagination .swiper-pagination-bullet:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-white;
  }
  &__swiper-pagination .swiper-pagination-bullet.focus-visible {
    background-color: $color-primary;
    color: $color-white;
  }
  &__swiper-pagination .swiper-pagination-bullet:active {
    background-color: $color-primary-shade;
    color: $color-white;
  }

  &__swiper-pagination .swiper-pagination-bullet-active {
    color: $color-white;
    background-color: $color-primary-shade;
    border-color: $color-primary-shade;
  }
  &__swiper-pagination .swiper-pagination-bullet-active:hover, .swiper-pagination-bullet-active.focus-visible, .swiper-pagination-bullet-active:active {
    color: $color-white;
    background-color: $color-primary-shade;
    border-color: $color-primary-shade;
  }
}

.filter-mini {
  display: none;
}


.filter {
  display: flex;
  flex-direction: column;

  &__title {
    @include resetIndent;
    margin-bottom: 20px;
    @include fontClass(18px, 130%, 400);
    color: $color-black;
  }
}

.filter-form {
  margin-bottom: auto;

  &__group {
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  &__title {
    @include resetIndent;
    margin-bottom: 11px;
    @include fontClass(16px, 130%, 600);
    color: $color-grey-shade;
  }
}


// range price

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.filter-price {
  margin-bottom: 36px;

  & .filter-form__title {
    margin-bottom: 4px;
  }

  &__inputs {
    display: flex;
    margin-bottom: 10px;
    align-self: stretch;
  }

  &__label {
    display: inline-block;
    margin-right: auto;

    &:last-child {
      margin: 0
    }
  }
  &__input-name {
    margin-right: 10px;
    @include fontClass(16px, 130%, 400);
    color: $color-grey-shade;
  }

  &__input {
    padding: 4px 12px 3px;
    width: 86px;
    border: 1px solid $color-grey;
    border-radius: 2px;
    @include fontClass(16px, 130%, 400);
    color: $color-grey-shade;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out;

    &:hover {
      border-color: $color-primary;
    }

    &.focus-visible {
      border-color: $color-primary;
      background-color: $color-pink-violet;
    }

    &.focus-visible:active {
      border-color: $color-primary-shade;
      background-color: $color-white;
    }
  }

  &__slider {
    align-self: stretch;
  }
}

.noUi-target {
  background-color: $color-md-grey;
  border: none;
  box-shadow: none;
  height: 3px;
}

.noUi-connect {
  background-color: $color-primary;
}

.noUi-connect.focus {
  background-color: $color-primary-shade;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  top: -4px;
  right: -8px;
}

.noUi-touch-area {
  height: 0;
}

.noUi-handle, .noUi-handle::before, .noUi-handle::after {
  width: 16px;
  height: 16px;
  box-shadow: none;
  border: none;
  background: none;
}
.noUi-handle {
  overflow: hidden;
  position: absolute;
  border-radius: 20%;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
  cursor: pointer;
  pointer-events: none;
}
.noUi-handle::before, .noUi-handle::after {
  content: '';
  position: absolute;
  top: unset;
  left: unset;
  background: $color-primary;
  pointer-events: auto;
  transition: background-color .2s ease-in-out;
}
.noUi-handle::before {
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(30deg) scaleY(.866) translateX(-24%);
}
.noUi-handle::after {
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(-30deg) scaleY(.866) translateX(24%);
}

.noUi-handle:hover::before, .noUi-handle:hover::after {
  background-color: $color-primary-light;
}

.noUi-handle.focus-visible::before, .noUi-handle.focus-visible::after, .noUi-handle:active::before, .noUi-handle:active::after {
  background-color: $color-primary-shade;
}


.filter-sale {
  margin-bottom: 25px;
}




// aside banner

.banner-article {
  background-color: $color-black;
  border-radius: 10px;

  &__container {
    padding: 35px 30px 29px;
  }

  &__img {
    width: 100%;
  }

  &__title {
    @include resetIndent;
    margin-bottom: 4px;
    @include fontClass(24px, 22px, 900);
    font-family: PlayfairDisplay;
    color: $color-gold;
  }
  &__text {
    @include resetIndent;
    margin-bottom: 14px;
    @include fontClass(16px, 22px, 400);
    color: $color-grey;
  }

  &__link {
    // position: relative;
    display: flex;
    align-items: center;
    margin-top: auto;
    @include fontClass(16px, 120%, 700);
    color: $color-primary;

    &-text {
      margin-right: 5px;
      border-bottom: 2px solid transparent;
      transition: border-color .3s ease;
    }

    &-arrow {
      position: relative;
      display: block;
      width: 22px;
      height: 22px;
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 50%;
      transform: translateY(-1px);
      cursor: pointer;
      transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        right: 7px;
        width: 7px;
        height: 7px;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: rotate(-45deg);
        z-index: 10;
        transition: transform .3s ease-in-out, border-color .3s ease-in-out;
      }
    }

    &:hover {
      .banner-article {
        &__link-text {
          border-color: $color-primary;
        }

        &__link-arrow {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
    &:focus-visible {
      .banner-article {
        &__link-text {
          border-color: $color-primary;
        }

        &__link-arrow {
          background-color: $color-primary-light;
          color: $color-white;
          border-color: $color-primary;
        }
      }
    }
    &:active {
      .banner-article {
        &__link-text {
          border-color: $color-primary-shade;
          color: $color-primary-shade;
        }

        &__link-arrow {
          background-color: $color-primary-shade;
          color: $color-white;
          border-color: $color-primary-shade;
        }
      }
    }
  }
}

.open-more-btn {
  @include fontClass(16px, 130%, 400);
  color: $color-primary;
  cursor: pointer;

  @include hoverText($color-primary-light, $color-pink-violet, $color-primary-shade, $color-primary-shade)
}


.tags{
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.tag-name {
  display: inline-flex;
  align-items: center;
  padding: 7px 9px;
  margin-bottom: 10px;
  margin-right: 10px;
  @include fontClass(14px, 130%, 400);
  color: $color-grey-shade;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  &__btn {
    position: relative;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;

    &::after, &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 1px;
      left: 0;
      transform-origin: left;
      background-color: $color-grey-shade;
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
    &::before {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.category-block {
  background-color: $color-lime;
}
.color-block {
  background-color: $color-md-grey;
}
.price-block {
  background-color: $color-bone;
}
.sale-block {
  background-color: $color-pink-violet;
}
.price-block::before {
  content: 'До';
  margin-right: 5px;
}
.unknown-block {
  background-color: gray;
}


@media(max-width: 1024px) {
  .section-catalog {
    &__box {
      margin-bottom: 13px;
    }

    &__title {
      display: inline-block;
      margin-right: 17px;
    }
  }

  .filter {
    display: none;
  }
  .main {
    width: 100%;
  }
  .catalog-grid {
    display: flex;
    column-gap: 0;
    width: 100%;
  }


  .filter-mini {
    display: flex;
    margin-bottom: 31px;

    &__grid-table {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 40px;
      row-gap: 16px;
      column-gap: 30px;
      width: 100%;
      // justify-items: flex-end;
    }

    &__title {
      display: inline-block;
      @include resetIndent;
      margin-right: 42px;
      padding-top: 10px;
      @include fontClass(14px, 130%,400);
      color: $color-black;
    }
  }

  .filter-mini-select {
    position: relative;
    z-index: 20;

    &:last-child {
      margin: 0;
    }

    @for $i from 1 through 4 {
      &:nth-last-child(#{$i}) {
        z-index: (20 + $i);
      }
    }

    &__btn {
      position: relative;
      padding: 9px 16px;
      width: 100%;
      text-align: start;
      background-color: $color-grey-light;
      border-radius: 10px;
      z-index: 10;
      cursor: pointer;
      transition: box-shadow .3s ease-in-out;

      &:last-child {
        margin: 0;
      }

      &.is-active {
        box-shadow: inset 0 0 0 2px $color-primary-shade;
      }

      &::after{
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        right: 18px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
        margin-bottom: 4px;
        transform: rotate(135deg);
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
      }

      &.is-active::after {
        transform: rotate(-45deg) translateY(4px);
      }
    }

    &__heading {
      @include fontClass(17px, 22px, 400);
      color: $color-black;
    }

    &__category-link {
      @include fontClass(16px, 130%, 400);
      color: $color-grey-shade;
    }

    &__dropdown {
      position: absolute;
      bottom: 10px;
      left: -1px;
      display: none;
      padding: 23px 15px 23px 20px;
      width: calc(100% + 1px);
      border: 2px solid $color-grey-light;
      background-color: $color-white;
      transform: translateY(100%);
      z-index: 1;

      &-wrap {
        width: 100%;
        max-height: 300px;
      }

      &.is-active {
        display: block;
        animation-name: dropdownOpen;
        animation-duration: 0.4s;
      }
      &.is-disabled {
        display: block;
        animation-name: dropdownClose;
        animation-duration: 0.4s;
      }

      &.simplebar-track.simplebar-vertical.simplebar-scrollbar:before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-white;
        opacity: 1;
      }
    }


    &__price-block {
      display: flex;
      flex-direction: column;
    }

    &__price-label {
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      &:last-child {
        margin: 0;
      }
    }

    &__price-text {
      margin-right: 10px;
      @include fontClass(16px, 130%, 400);
      color: $color-grey-shade;
    }

    &__price-input {
      padding: 4px 13px;
      border: 1px solid $color-grey;
      border-radius: 2px;
      @include fontClass(16px, 130%, 400);
      color: $color-grey-shade;
    }
  }

  @keyframes dropdownOpen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes dropdownClose {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@media (max-width: 960px) and (min-width: 769px){
  .catalog-block {
    .highrate-card{
      &__pic {
        text-align: center;
      }

      &__img {
        width: 90%;
        transform: none;
      }
    }
  }
}

@media(max-width: 960px) {
  .filter-mini {
    flex-direction: column;

    &__title {
      margin-right: 10px;
      margin-bottom: 16px;
    }

    &__grid-table {
      column-gap: 10px;
    }
  }
}

@media (max-width: 768px) {
  .section-catalog__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: calc(50% - 73px);
  }

  .filter-mini {
    flex-direction: column;

    &__title {
      margin-right: 0;
      // margin-bottom: 16px;
    }

    &__grid-table {
      grid-template-columns: repeat(2,1fr);
      width: 406px;
      column-gap: 32px;
    }
  }

}

@media (max-width: 600px) and (min-width: 420px) {
  .catalog-block {
    .highrate-card{
      &__pic {
        text-align: center;
      }

      &__img {
        width: 90%;
        transform: none;
      }
    }
  }
}

@media(max-width: 420px) {
  .section-catalog {
    &__slide {
      height: calc((100% - 32px)/ 3)!important;
    }

    &__box {
      padding-top: 4px;
      margin-bottom: 11px;
    }
  }

  .catalog-block {
    height: 866px;
  }

  .filter-mini {
    &__grid-table {
      width: 100%;
      column-gap: 16px;
    }

    &__title {
      padding: 0;
    }
  }

  .filter-mini-select {
    &__dropdown {
      padding-left: 15px;
    }
  }

  .section-catalog__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: calc(50% - 72px);
  }

  .section-catalog__swiper-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }
}
