@import '_var.scss', '_mixin.scss';

.section-useful {
  padding-bottom: 70px;
  border-radius: 10px;

  &__slides-item{
    height: unset;
  }

  @include sliderNavigation;
}

.useful-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-grey-light;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    height: 100%;
  }

  &__title {
    @include resetIndent;
    @include fontClass(24px, 33px, 400);
    color: $color-black;
    margin-bottom: 38px;
  }

  &__btn {
    @include emptyBtn;
    margin-top: auto;
  }
}

@media (max-width: 1024px) {
  .useful-card {
    &__title {
      @include fontClass(16px, 22px, 400);
      margin-bottom: 30px;
    }
  }
}

@media(max-width: 420px) {
  .section-useful{
    padding-bottom: 118px;

    &__navigation {
      top: unset;
      bottom: -48px;
      right: calc(50% - 38px);
    }
  }
}
