$color-primary: #A65CF0;
$color-primary-light: #C998FB;
$color-primary-shade: #7033AC;
$color-seconadary: #FF862F;
$color-seconadary-light: #FFBD59;
$color-seconadary-shade: #BB370E;
$color-red-input: #FF6972;
$color-green-input: #B8EC64;
$color-gold: #D5B986;
$color-white: #FFFFFF;
$color-grey-light: #F6F6F6;
$color-md-grey: #EAEAEA;
$color-grey: #999999;
$color-grey-shade: #666666;
$color-black: #333333;
$color-pink-light: #F8EFFF;
$color-pink-violet: #EBD1FF;
$color-bone: #FFF5D1;
$color-lime: #DAFFD1;
