@import './var', './mixin', './fonts';

html {
  box-sizing: border-box;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

body {
  @include resetIndent;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  // font-size: 0;
  // overflow-x: hidden;
  color: $black;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.reset {
  @include resetIndent;
  background-color: transparent;
  list-style-type: none;
  text-decoration: none;
  border: none;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1180px;
}

.sections {
  margin-bottom: 100px;
}

.section-title {
  @include resetIndent;
  @include fontClass(36px, 1, 700);
  margin-bottom: 48px;
}

.primary-input {
  padding: 13px 15px;
  width: 100%;
  border: 1px solid $grayD5;
  background-color: $white;
  @include fontClass(14px, 1, 400);
  transition: border-color .2s ease-in-out;

  &.focus-visible {
    border-color: $primary-color;
  }
}

.text-primary-color {
  color: $primary-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media all and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .sections {
    margin-bottom: 60px;
  }

  .section-title {
    margin-bottom: 30px;
    font-size: 32px;
  }
}

@media all and (max-width: 440px) {
  .container {
    padding: 0 12px;
  }

  .sections {
    margin-bottom: 40px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .primary-input {
    padding: 10px 12px;
  }
}
