@import './var.scss';

@mixin fontClass($fontSize, $fontLineHeaight, $fontWeight) {
  font: {
    size: $fontSize;
    weight: $fontWeight;
  }
  line-height: $fontLineHeaight;
}

@mixin resetIndent {
  padding: 0;
  margin: 0;
}

@mixin primaryBtn {
  padding: 15px;
  background-color: $primary-color;
  color: $white;
  @include fontClass(13px, 1, 600);
}

@mixin hoverLink {
  transition: color .3s ease-in-out;

  &:hover, &.focus-visible {
    color: $primary-color;
  }

  &:active {
    color: $secondary-color;
  }
}

@mixin hoverBtn {
  transition: background-color .3s ease-in-out;

  &:hover, &.focus-visible {
    background-color: $secondary-color;
  }

  &:active {
    background-color: $black
  }
}
