@import '../../../var.global.scss', '../../../mixin.global.scss';;

.container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorization {
  position: relative;
  padding: 20px;
  background-color: $white;
  max-width: 500px;
  border-radius: 7px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.authorizationForm {
  display: flex;
  flex-direction: column;
}

.inpurGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 30px;
  }
}

.inputTitle {
  margin-bottom: 5px;
  font-size: 18px;
}

.input {
  padding: 5px 10px;
  min-width: 300px;
  font-size: 16px;
}

.btn {
  padding: 8px 30px;
  align-self: center;
  border: 1px solid;
  font-size: 16px;
  @include btnHover;
}

.errMsg {
  @include err;
  top: 19px;
}

.authError {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $red;
}
