.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding: 10px 15px;
  color: $black;
}

.choices {
  display: inline-block;
  overflow: unset;
  color: $black;
  width: 100%;
  padding: 10px 15px;
  background: $white;
  border: 1px solid $grayD4;


  &[data-type*=select-one] {
    .choices__inner {
      padding: 0;
      padding-right: 15px;
      min-width: 75px;
      max-width: 105px;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      right: 15px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(45deg);
      z-index: 10;
      transition: transform .3s ease-in-out;
    }

    &.is-open::after {
      margin: 0;
      border-color: $black;
      transform: rotate(225deg) translateY(-25%);
    }
  }

  &__inner {
    display: block;
    padding: 0;
    min-height: unset;
    border: none;
    background-color: transparent;
    @include fontClass(16px, 120%, 400);
  }

  &__list{
    &--single {
      padding: 0;
    }

    &--dropdown, &[aria-expanded] {
      box-sizing: border-box;
      width: 100%;
      left: 0;
      margin: 0;
      z-index: 30;
    }
  }
}
