.section-feedback {
  padding: 80px 0;
  background-color: $grayF9;

  &__swiper {
    margin-bottom: 44px;
  }

  &__item {
    height: unset;
    background-color: $white;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center
  }

  &__link {
    @include primaryBtn;
    padding-left: 64px;
    padding-right: 64px;
    @include hoverBtn;
  }
}

$feedbackPadding: 40px;
.feedback {
  padding: $feedbackPadding;
  height: calc(100% - $feedbackPadding * 2);
  display: flex;
  flex-direction: column;

  &__writer {
    @include resetIndent;
    @include fontClass(15px, 1, 600);
    margin-bottom: 12px;
  }

  &__writer-desc {
    @include fontClass(12px, 15px, 500);
    color: $gray56;
    margin-bottom: 40px;
  }

  &__text {
    @include fontClass(16px, 22px, 400);
    margin-bottom: 40px;
  }

  &__detailBtn {
    margin-top: auto;
    @include fontClass(13px, 16px, 600);
    color: $primary-color;
    transition: color .3s ease-in-out;

    &:hover {
      color: $secondary-color;
    }
    &:active {
      color: $black;
    }
  }
}

@media all and (max-width: 960px) {
  .section-feedback {
    &__swiper {
      padding-bottom: 60px;
      margin-bottom: 20px;
    }
  }

  $feedbackPadding: 30px;
  .feedback {
    padding: $feedbackPadding;
    height: calc(100% - $feedbackPadding * 2);
  }
}

@media all and (max-width: 768px) {
  $feedbackPadding: 20px;
  .section-feedback {
    &__swiper {
      padding-bottom: 50px;
    }
  }

  .feedback {
    padding: $feedbackPadding;
    height: calc(100% - $feedbackPadding * 2);

    &__writer-desc {
      margin-bottom: 20px;
    }

    &__text {
      @include fontClass(14px, 18px, 400);
    }
  }
}
@media all and (max-width: 440px) {

}
