@mixin space {
  content: '';
  display: block;
  height: 20px;
  color: transparent;

  @media all and (max-width: 768px) {
    height: 10px;
  }
}

.section-cost {
  &__table {
    margin: 0 auto;
    padding: 0px;
    min-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;


    thead {
      border: none;

      &::after {
        @include space;
      }
    }

    th {
      padding: 20px 0;
      padding-left: 20px;
      border: none;
      text-align: left;
      @include fontClass(13px, 1, 600);
      color: $white;
      background-color: $secondary-color;
    }

    td {
      @include fontClass(13px, 1, 600);
      padding: 16px 20px;
      vertical-align: top;
      border: 1px solid $grayE7;
    }

    tbody {
      &:not(:last-child)::after {
        @include space;
      }
    }
  }
}

td.table-costs {
  &__title {
    @include fontClass(24px, 1, 700);
    color: $white;
    background-color: $primary-color;
  }
}

.table-wrapper {
  overflow: scroll;
}

@media all and (max-width: 960px) {
  .section-cost {
    &__table {
      th {
        padding: 20px 10px;
        padding-right: 0;
      }

      td {
        padding: 10px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .section-cost {
    &__table {
      th {
        padding: 15px 5px;
        @include fontClass(10px, 1, 500);
      }

      td {
        padding: 10px 5px;
        @include fontClass(11px, 1, 500);
      }
    }
  }

  td.table-costs {
    &__title {
      @include fontClass(16px, 1, 600);
    }
  }
}
