.range-slider {
  height: 1px;
  transform: translateY(-1px);
}

.range-slider .noUi-connect {
  background: $primary-color;
  opacity: 1;
}

.range-slider .noUi-handle {
  height: 16px;
  width: 16px;
  top: -7px;
  right: -8px;
  border: none;
  background: $primary-color;
  box-shadow: none;
  border-radius: 9px;
  cursor: pointer;

  @include hoverBtn;
  &:active {
    background-color: $secondary-color;
  }

  &::after, &::before {
    display: none;
  }
}

.range-slider.noUi-target {
  border: none;
  box-shadow: none;
  background: rgba($primary-color, 0.2);
}
