.swiper-btns {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.swiper-button-next, .swiper-button-prev {
  @include resetIndent;
  position: static;
  margin-right: 16px;
  width: 56px;
  height: 56px;
  border: 1px solid $grayD5;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;

  &:hover, &.focus-visible {
    background-color: $primary-color;
    border-color: $primary-color;

    &::after {
      border-color: $white;
    }
  }

  &:active {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  &:last-child {
    margin: 0;
  }

  &::after {
    content: '';
    padding: 4px;
    display: inline-block;
    border: solid $black;
    border-width: 0 2px 2px 0;
    transition: border-color .3s ease-in-out;
  }
}

.swiper-button-next {
  &::after {
    transform: translateX(-2px) rotate(-45deg);
  }
}
.swiper-button-prev {
  &::after {
    transform: translateX(2px) rotate(135deg) ;
  }
}


@media all and (max-width: 960px) {
  .swiper-btns {
    top: unset;
    right: calc(50% - 50px);
    bottom: 0;
  }

  .swiper-button-next, .swiper-button-prev {
    width: 42px;
    height: 42px;
  }
}
