.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1440px;
}

@media(max-width: 768px) {
  .container {
    padding: 0 36px;
  }
}

@media(max-width: 560px) {
  .container {
    padding: 0 25px;
  }
}

@media(max-width: 420px) {
  .container {
    padding: 0 20px;
  }
}
