@font-face {
  font-family: Nekst;
  font-display: swap;
  src: url("../fonts/Nekst-Black.woff2") format("woff2"), url("../fonts/Nekst-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
