$color-primary: #9873FF;
$color-primary-light: #B89EFF;
$color-primary-shade: #8052FF;
$color-black: #333;
$color-text-grey: #B0B0B0;
$color-grey: #C8C5D1;
$color-grey-light: #e0dfe4;
$color-grey-ultra-light: #f4f3f6;
$color-red: #F06A4D;
$color-white: #fff;
