@import './var.scss', './mixin.scss';

.today {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include fontClass(18px, 1, 400);
}

.temp {
  display: flex;
}

.valueTemp {
  margin-right: 20px;

  &:last-child {
    margin: 0;
  }
}

.title {
  margin-right: 10px;
}

.weekDay {
  font-weight: 700;
}

@media all and (min-width: 769px) {
  .today {
    display: none;
  }
}
