@import '_var.scss', '_mixin.scss';

.header {
  position: relative;
  padding-bottom: 32px;

  &::after {
    @include headerGreyBackground;
  }

  &__grid-table {
    display: grid;
    grid-template-columns: 187px 23px minmax(0,351px) 600px 219px;
    grid-template-rows: minmax(50px, auto) minmax(93px, auto) 58px;
    align-items: center;
    // margin-bottom: 23px;
  }

  $gridChild: (1: '1 / 3', 2: '3 / 4', 3: '4 / -1', 4: '1 / 1', 5: '1 / 2', 6: '3 / -1', 7: '1 / 5', 8: '5 / -1');

  &__grid-element {
    @each $child, $childSize in $gridChild {
      &:nth-child(#{$child}) {
        @if ($child == 7) {
          display: flex;
        } @else if ($child == 8)  {
          justify-self: flex-end;
        } @else if ($child == 2)  {
          justify-self: flex-start;
        }
        grid-column: #{$childSize};
        order: $child;
      }
    }
  }


  &__phone {
    display: flex;
    align-items: center;
    color: $color-seconadary;
    @include fontClass(14px, 14px, 400);

    svg {
      margin-right: 2px;
      fill: currentColor;
      width: 18px;
      height: 18px;
    }

    @include hoverText($color-seconadary-light, $color-bone, $color-seconadary-shade, 0);
  }

  &__logo {
    transition: outline 2s ease-in-out;

    &.focus-visible {
      outline: 1px solid $color-primary;
    }
  }
}


.location {
  display: flex;
  align-items: center;
  @include fontClass(16px, 120%, 400);

  &__text {
    margin-right: 4px;
  }
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding: 10px;
  color: $color-black;
}

.choices {
  display: inline-block;
  overflow: unset;
  color: $color-primary;

  @include hoverText($color-primary-light, $color-pink-violet, $color-primary-shade, 0);


  &[data-type*=select-one] {
    .choices__inner {
      padding: 0;
      padding-right: 15px;
      min-width: 75px;
      max-width: 105px;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      right: 1px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(45deg);
      z-index: 10;
      transition: transform .3s ease-in-out;
    }

    &.is-open::after {
      margin: 0;
      border-color: $color-primary;
      transform: rotate(225deg) translateY(-25%);
    }
  }

  &__inner {
    display: block;
    padding: 0;
    min-height: unset;
    border: none;
    background-color: transparent;
    @include fontClass(16px, 120%, 400);
  }

  &__list{
    &--single {
      padding: 0;
    }

    &--dropdown, &[aria-expanded] {
      width: 105px;
      left: -3px;
      border: 2px solid $color-grey-light;
      z-index: 30;
    }
  }
}

.mobile-menu {
  display: none;
}

.navbar-company {
  position: relative;
  justify-self: flex-end;
  padding: 10px 0;



  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -6px;
  }

  &__item {
    margin-right: 64px;
    margin-bottom: 6px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    @include fontClass(14px, 1, 400);
    color: $color-grey;

    @include hoverText($color-primary, $color-pink-violet, $color-primary-shade, $color-primary-shade)
  }
}

.burger {
  display: none;
}

.navbar-menu {
  justify-self: flex-end;
  padding: 10px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 92px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    @include fontClass(16px, 22px, 400);
    color: $color-black;

    @include hoverText($color-primary, $color-pink-violet, $color-primary-shade, 0);

    &::before {
      top: 0;
    }
  }
}


.search-form {
  position: relative;
  display: flex;
  width: calc(761 / 1051 * 100%);
  min-width: 400px;

  &__input {
    padding: 20px 60px;
    width: 100%;
    background-color: $color-grey-light;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include fontClass(16px, 120%, 400);
    transition: background-color .3s ease-in-out, box-shadow .2s ease-in-out;

    &::placeholder {
      @include fontClass(17px, 120%, 400);
      color: $color-grey;
    }

    &:hover {
      background-color: $color-md-grey;
    }

    &.focus-visible {
      background-color: $color-pink-light;
      box-shadow: inset 0 0 0 2px $color-primary;
    }
  }

  &__btn-mag {
    position: absolute;
    top: calc(50% - 8px);
    left: 34px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__btn-arrow {
    position: absolute;
    top: calc(50% - 17px);
    right: 34px;
    width: 32px;
    height: 32px;
    border: 2px solid $color-primary;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease-in-out, box-shadow .2s ease-in-out;

    &:hover {
      background-color: $color-primary;

      &::after {
        border-color: $color-white;
      }
    }

    &.focus-visible {
      background-color: $color-primary-light;
      box-shadow: inset 0 0 0 1px $color-primary;

      &::after {
        border-color: $color-white;
      }
    }

    &:active {
      background-color: $color-primary-shade;

      &::after {
        border-color: $color-white;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 4px);
      right: 11px;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid $color-primary;
      border-right: 2px solid $color-primary;
      transform: rotate(-45deg);
      z-index: 10;
      transition: transform .3s ease-in-out, border-color .3s ease-in-out;
    }
  }

}
.search-svg {
  fill: $color-grey;

  &.active {
    fill: $color-primary;
  }
}


.catalog-select {
  position: relative;
  margin-right: auto;
  width: 300px;
  z-index: 30;

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 28px;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;

    border: 2px solid $color-grey-light;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $color-white;
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;

    &.is-active {
      border-color: $color-primary;
    }

    &:hover {
      border-color: $color-primary;
    }

    &.focus-visible {
      background-color: $color-pink-light;
      border-color: $color-primary;
    }

    &:active {
      border-color: $color-primary-shade;
    }

    &::after{
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      right: 33px;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-top: 1px solid $color-primary;
      border-right: 1px solid $color-primary;
      margin-bottom: 4px;
      transform: rotate(135deg);
      transition: transform 0.3s ease-in-out;
      transform-origin: center;
    }

    &.is-active::after {
      transform: rotate(-45deg) translateY(4px);
    }
  }

  &__heading {
    @include fontClass(17px, 120%, 400);
    color: $color-primary;
  }

  &__category-list {
    column-count: 2;
  }

  &__category-item {
    margin-bottom: 11px;

    &:last-child {
      margin: 0;
    }
  }

  &__category-link {
    @include fontClass(16px, 140%, 400);
    color: $color-black;

    @include hoverText($color-primary, $color-pink-violet, $color-primary-shade, 0);

    &::before {
      top: 1px;
      bottom: 0;
      right: -4px;
      left: -4px;
    }
  }

  &__dropdown {
    position: absolute;
    bottom: 10px;
    left: -1px;
    display: none;
    padding: 23px 15px 23px 30px;
    width: calc(100% + 1px);
    border: 2px solid $color-grey-light;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $color-white;
    transform: translateY(100%);
    z-index: 1;

    &-wrap {
      width: 100%;
      max-height: 220px;
    }

    &.is-active {
      display: block;
      animation-name: dropdownOpen;
      animation-duration: 0.4s;
    }
    &.is-disabled {
      display: block;
      animation-name: dropdownClose;
      animation-duration: 0.4s;
    }

    &.simplebar-track.simplebar-vertical.simplebar-scrollbar:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-white;
      opacity: 1;
    }
  }
}


@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.login-btn {
  color: $color-primary;
  margin-right: 43px;
  cursor: pointer;

  @include hoverText($color-primary-light, $color-primary-light, $color-primary-shade, $color-white);

  &::before {
    bottom: 0;
    right: -2px;
  }

  svg {
    fill: currentColor;
    width: 26px;
    height: 28px;
  }
}
.basket-btn {
  position: relative;
  color: $color-primary;
  cursor: pointer;

  @include hoverText($color-primary-light, $color-primary-light, $color-primary-shade, $color-white);

  &::before {
    bottom: 0;
    left: -15px;
  }

  svg {
    fill: currentColor;
    width: 30px;
    height: 28px;
  }

  &__counter {
    position: absolute;
    left: -11px;
    top: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 15px;
    border-radius: 50%;
    color: $color-white;
    background-color: $color-seconadary;
    @include fontClass(10px, 1, 700);
  }
}



.navbar-current-page {
  margin-top: 23px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 5px;

    &:last-child {
      margin: 0;
    }
  }

  &__slash {
    margin-right: 5px;
    @include fontClass(14px, 1, 400);
    color: $color-grey;
  }

  &__link {
    @include fontClass(14px, 1, 400);
    color: $color-grey;

    @include hoverText($color-primary, $color-pink-violet, $color-primary-shade, $color-primary-shade);

    &.active {
      color: $color-primary-shade;
    }

  }
}



@media(max-width: 1290px) {
  .header {
    &__grid-table {
      grid-template-columns: 187px 23px minmax(0,421px) 350px 239px;
    }
  }
  .location {
    margin-right: 15px;
  }

  .navbar-company {
    &__item {
      margin-right: 20px;
    }
  }

  .navbar-menu {
    &__item {
      margin-right: 42px;
    }
  }

  .search-form {
    width: calc(690 / 990 * 100%);
  }
}

@media(max-width: 1024px) {

  .header{
    padding-bottom: 27px;

    &__grid-table {
      grid-template-columns: 187px minmax(0,501px) 363px 100px;
      grid-template-rows: 58px 50px 90px 66px;
    }

    $gridChild: (1: '1 / 2', 2: '2 / -1', 3: '1 / 4', 4: '1 / 1', 5: '1 / 2', 6: '2 / -1', 7: '1 / -1', 8: '4 / -1');

    @each $child, $childSize in $gridChild {
      &__grid-element {
        &:nth-child(#{$child}) {
          grid-column: #{$childSize};
          @if ($child == 8) {
            order: 5;
          } @else if ($child == 5) {
            order: 6;
          } @else if($child == 2) {
            justify-self: flex-end;
          } @else if($child == 3) {
            justify-self: flex-start;
          }
        }
      }
    }
  }

  .location {
    margin-right: auto;
  }

  .navbar-company {
    &__item {
      margin-right: 65px;
    }
  }

  .search-form {
    width: calc(653 / 954 * 100%);
  }
}


@media(max-width: 960px) {
  .header{

    &__grid-table {
      grid-template-columns: 296px minmax(0, 296px) 196px 100px;
    }

    $gridChild: (1: '1 / 2', 2: '3 / -1', 3: '1 / 4', 4: '1 / 1', 5: '2 / 3', 6: '1 / -1', 7: '1 / -1', 8: '4 / -1');

    @each $child, $childSize in $gridChild {
      &__grid-element {
        &:nth-child(#{$child}) {
          grid-column: #{$childSize};
          @if ($child == 5) {
            order: 2;
            justify-self: center;
          } @else if ($child == 2) {
            order: 3;
          } @else if($child == 2) {
            justify-self: flex-end;
          } @else if($child == 6) {
            justify-self: flex-start;
          }
        }
      }
    }
  }

  .navbar-company{
    &__item{
      margin-right: 20px;
    }
  }

  .navbar-menu {
    width: 100%;

    &__list{
      justify-content: space-between;
    }

    &__item {
      margin-right: 40px;
    }
  }
}

@media(max-width: 768px) {

  $gridRowOne768: 58px;
  $gridRowTwo768: 50px;

  .header {
    padding-bottom: 30px;

    &__grid-table {
      grid-template-columns: 178px minmax(0, 268px) 178px;
      grid-template-rows: $gridRowOne768 $gridRowTwo768 93px 60px;
    }

    $gridChild: (1: '1 / 3', 2: '3 / -1', 3: '1 / -1', 4: '1 / 2', 5: '2 / 3', 6: '1 / 1', 7: '1 / -1', 8: '3 / -1');

    @each $child, $childSize in $gridChild {
      &__grid-element {
        &:nth-child(#{$child}) {
          grid-column: #{$childSize};
          @if ($child == 5) {
            order: 5;
            justify-self: center;
          } @else if ($child == 8) {
            order: 6;
          }
        }
      }
    }
  }

  .navbar-company{
    width: 100%;

    &__list {
      justify-content: space-between;
    }
  }

  .navbar-menu {
    position: absolute;
    top: $gridRowOne768 + $gridRowTwo768;
    left: 0;
    padding: 92px 0 20px;
    width: 100%;
    height: 300px;
    z-index: 40;
    background-color: $color-white;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;


    &__container {
      max-width: 648px;
      padding: 0 12px;
      margin: 0 auto;
      background-image: url('../img/elephant.svg');
      background-repeat: no-repeat;
      background-position: 97% 100%;
    }

    &__list {
      display: block;
      column-count: 2;
      max-width: 400px;
    }

    &__item {
      margin: 0;
      margin-bottom: 40px;
    }

    &.burger-open {
      transform: scaleY(1);
    }
  }

  .burger {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    z-index: 50;
    cursor: pointer;

    @mixin burgerItem {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
      border-radius: 4px;
      transform-origin: left;
      transition: transform .2s ease-in-out, background-color .3s ease-in-out;
    }

    &__item {
      @include burgerItem;
      position: absolute;
      top: calc(50% - 1px);

      &::after {
        content: '';
        position: absolute;
        transform: translateY(-10px);
        @include burgerItem;
      }

      &::before {
        content: '';
        position: absolute;
        @include burgerItem;
        transform: translateY(9px);

      }

      &.burger-open {

        background-color: transparent;

        &::after {
          transform: translateY(-10px) rotate(45deg) scaleX(1.1);
        }
        &::before {
          transform: translateY(9px) rotate(-45deg) scaleX(1.1);
        }
      }
    }
  }

  .search-form {
    width: calc(437 / 624 * 100%);
  }

  .catalog-select {
    width: 187px;

    &__category-list {
      column-count: 1;
    }
  }
}

@media(max-width: 600px) {
  $gridRowOne768: 50px;

  .header {
    &__grid-table {
      grid-template-rows: $gridRowOne768 80px 130px;
    }

    &__grid-element:nth-child(7) {
      flex-direction: column;
    }
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .navbar-company {

    &__list {
      display: block;
      column-count: 2;
      column-width: 200px;
    }

    &__item {
      margin: 0;
      margin-bottom: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -15px;
      bottom: -20px;
      left: -12px;
      // right: 0;
      width: 100vw;
      z-index: -1;
      background-color: $color-grey-light;
    }
  }

  .navbar-menu {
    top: $gridRowOne768;
    height: unset;

    &__container {
      background-image: none;
    }

    &__list {
      margin-bottom: 30px;
    }


      // position: relative;


  }

  .search-form {
    width: 100%;
    min-width: unset;
    margin-bottom: 14px;

    &__input {
      padding: 21px 60px;
      border-radius: 10px;
    }
  }

  .catalog-select {
    width: 100%;
    border-radius: 10px;

    &__btn {
      padding: 18px 30px;
    }

    &__category-list {
      column-count: 4;
      column-width: 125px;
    }

    &__dropdown-wrap {
      width: 100%;
    }
  }

  .login-btn {
    margin-right: 20px;
  }
}


@media(max-width: 420px) {
  $gridRowOne768: 50px;
  $gridRowTwo768: 56px;
  $gridRowThree768: 19px;

  .header {
    padding-bottom: 32px;

    &__grid-table {
      grid-template-columns: 50px minmax(0, 346px);
      grid-template-rows: $gridRowOne768 $gridRowTwo768 $gridRowThree768 86px 134px;
      margin: 0;
    }

    $gridChild: (1: '1 / -1', 2: '1 / -1', 3: '1 / 1', 4: '1 / 2', 5: '1 / -1', 6: '1 / 1', 7: '1 / -1', 8: '2 / -1');

    @each $child, $childSize in $gridChild {
      &__grid-element {
        &:nth-child(#{$child}) {
          grid-column: #{$childSize};
          @if ($child == 5) {
            order: 1;
            justify-self: center;
          } @else if ($child == 1) {
            order: 2;
          } @else if ($child == 2) {
            justify-self: flex-start
          }
        }
      }
    }
  }

  .burger {
    transform: translateX(4px);
  }

  .navbar-menu {
    top: $gridRowOne768 + $gridRowTwo768 + $gridRowThree768;
    height: unset;

    &__list {
      column-count: 1;
    }
  }

  .catalog-select {
    &__btn {
      border-radius: 10px;
    }
  }

  .login-btn {
    margin-right: 43px;
  }

  .navbar-current-page {
    display: none;
  }
}
